<!-- Sidebar -->
<div id="sidebar-wrapper">
    <!-- <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="" ng-if="showOpen" ng-click="menuToggle($event,'open')" class="glyphicon glyphicon-align-justify pull-left"></a>
        </li>

    </ul> -->
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="" ng-if="showOpen" ng-click="menuToggle($event,'open')" class="glyphicon glyphicon-align-justify"></a>
            <a href="" ng-if="showClose" ng-click="menuToggle($event,'close')" class="glyphicon glyphicon-align-justify pull-right"></a>
        </li>
        <li>
            <a ng-class="getClass('/home')" href="/home">
                <span class="glyphicon glyphicon-home">&nbsp;
                    <span style="font-family: Arial, Helvetica, sans-serif;">Home</span>
                </span>
            </a>
        </li>
        <li>
            <a ng-class="getClass('/dashboard')" href="/dashboard">
                <span class="glyphicon glyphicon-dashboard">&nbsp;
                    <span style="font-family: Arial, Helvetica, sans-serif;">Dashboard</span>
                </span>
            </a>
        </li>
    </ul>
</div>