
<div class="row">
    <div class="col-lg-6">
        <panel title = "Bar Chart" panel-id = "barPanel" chart-id = "barchart"></panel>
    </div>
    <div class = "col-lg-6">
        <panel title = "Pie Chart" panel-id = "piePanel" chart-id = "piechart"></panel>
    </div>
</div>
<div class="row">
    <div class = "col-lg-6">
         <panel title = "Line Chart" panel-id = "linePanel" chart-id = "linechart" ></panel>
    </div>
    <div class = "col-lg-6">
        <panel title = "Area Chart" panel-id = "areaPanel" chart-id = "areachart"></panel>
    </div>
</div>
<div class="row">
    <div class = "col-lg-6">
         <panel title = "Gauge Chart" panel-id = "gaugePanel" chart-id = "gaugechart"></panel>
    </div>
    <div class = "col-lg-6">
         <panel title = "Donut Chart" panel-id = "donutPanel" chart-id = "donutchart"></panel>
    </div>
</div>

