<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{$ctrl.title}}</h3>
        <ul class="list-inline panel-actions">
            <li>
                <a href="" id="{{$ctrl.panelId}}"  ng-click = "maximizeChart($event,$ctrl.panelId)" role="button" title="Toggle fullscreen">
                    <i class="glyphicon glyphicon-resize-full "></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
       <div id = "{{$ctrl.chartId}}" style = "{{chartWidth}}"></div>
    </div>
</div>
        