.panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
  }
  .panel-actions a {
    color:#333;
  }
  .panel-fullscreen {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }